<br>

<div class="row">
  <div class="input-field col s6">
    <input disabled="disabled" value="<%= @article.title %>" id="disabled" type="text" class="validate">
    <label for="disabled">Title</label>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <input disabled="disabled" value="<%= @article.description %>" id="disabled" type="text" class="validate">
    <label for="disabled">Description</label>
  </div>
</div>

<div class="match-form-padding">
  <%= link_to "Edit Article", edit_article_path(@article) %> | <%= render 'back_to_articles' %>
</div>
