$navbar-default-bg: #4688F1;

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  color: #fff;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #ffff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('bundle.png');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: #ee6e73;
  text-align: center;
  margin-top: 225px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-home {
  font-size: 1.7em;
  background-color: #26a69a;
  border: none;
  hover: none;
}

.btn-home:hover {
  background-color: #26a69a;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 10px;
}

.article-meta-details {
  margin-top: 15px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 5px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.chart {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 75px;
  padding-right: 75px;
  text-align: center;
}

.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.footer a:hover {
  color: #222;
}

.footer small {
  float: left;
}

.footer ul {
  float: right;
  list-style: none;
}

.footer ul li {
  float: left;
  margin-left: 15px;
}
