<ul class="sidenav" id="mobile-demo">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'About', about_path %></li>
  <li>
    <a href="https://www.facebook.com/profile.php?id=10044537" target="_blank">Facebook</a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/andrew-o-hara-2204b07/" target="_blank">Linkedin</a>
  </li>
</ul>
